<div class="col-xs-2"></div>
<div class="col-xs-8">
    <div class="mainSearchForm">
        <div class="formHeader">
            <span> + Fill form</span>
        </div>
        
        
        <form class="form-horizontal">
        <div class="form-group has-success">
            <label for="departure" class="control-label col-xs-3">From</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="departure" ng-model="FormData.Departure" placeholder="London city">
            </div>
        </div>
        <div class="form-group has-warning">
            <label for="arrival" class="control-label col-xs-3">To</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="arrival" ng-model="FormData.Arrival" placeholder="London city">
            </div>
        </div>
        <div class="form-group has-error">
            <label for="aDate" class="control-label col-xs-3">Date Range</label>
            <div class="col-xs-9">
                <select class="dateRange_chosen" ng-model="FormData.DateRange">
                    <option value="1">Last Year</option>
                    <option value="2">Last 6 Month</option>
                    <option value="3">Last 3 Month</option>
                    <option value="4">Last Month</option>
                    <option value="5">Custom Date Range</option>
                </select>
            </div>
        </div>
        <div class="form-group has-success">
            <label for="dDate" class="control-label col-xs-3">Return Trip</label>
            <div class="col-xs-9">
                <input type="checkbox" ng-model="FormData.IsReturn">
            </div>
        </div>
        <div ng-show="FormData.DateRange == '5'">
            <div class="form-group has-error">
                <label for="dDate" class="control-label col-xs-3">Depart</label>
                <div class="col-xs-9">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button id="departureDateBtn" type="button" class="btn btn-default">Date</button>
                        </span>
                        <input id="departureDate" type="text" class="form-control" ng-model="FormData.DepartureDate" placeholder="yyyy-mm-dd">
                    </div>
                </div>
            </div>
            <div class="form-group has-success">
                <label for="aDate" class="control-label col-xs-3">Arrive</label>
                <div class="col-xs-9">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button id="arrivalDateBtn" type="button" class="btn btn-default">Date</button>
                        </span>
                        <input id="arrivalDate" type="text" class="form-control" ng-model="FormData.ArrivalDate" placeholder="yyyy-mm-dd">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-success" ng-click="SubmitForm()">View Price Graph</button>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="col-xs-2"></div>